:root {
  --link-color: #000000;
  --logo-font-family: "Raleway", sans-serif;
  --text-font-family: "Roboto", sans-serif;
  --body-text-color: #434455;
  --heading-text-color: #2e2f42;
  --main-background-color: #ffffff;
  --brand-color: #4d5ae5;
  --secondary-bkg-color: #f4f4fd;
  --hover-color: #404bbf;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
section {
  padding: 94px 0;
  width: 1200px;
}
.container {
  max-width: 1200px;
  display: flex;
  justify-content: center;
}

.main-page {
  font-family: var(--text-font-family);
  color: var(--body-text-color);
  font-size: 16px;
}

.global-header .logo,
.footer-section .logo {
  text-decoration: none;
  font-size: 18px;
  font-family: var(--logo-font-family);
  font-weight: 800;
}

.global-header {
  display: flex;
  align-items: baseline;
  border-bottom: 1px solid var(--secondary-bkg-color);
}
.logo > .navy-blue {
  color: var(--main-background-color);
}
.logo > .iris-blue {
  color: #4d5ae5;
}
.logo > .cloud {
  color: var(--link-color);
}
.logo {
  width: 115px;
  height: 24px;
  top: 24px;
  left: 156px;
}
.main-nav {
  width: 261px;
  height: 24px;
  top: 24px;
  left: 347px;
  gap: 40px;
}
.menu-items {
  display: flex;
  list-style-type: none;
  width: 48px;
  height: 24px;
  gap: 10px;
  flex-direction: row;
}
.menu-items > li {
  font-family: var(--text-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  color: var(--heading-text-color);
}
.main-contacts > a {
  font-family: var(--text-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  color: var(--body-text-color);
}
.header-container {
  color: var(--main-background-color);
  border: 0px, 0px, 1px, 0px;
  border-bottom: 1px solid;
  border-color: #e7e9fc;
}
.hero-section {
  background-color: #2e2f42;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-width: 1200px;
}

.hero-section > h1 {
  color: #ffffff;
  width: 204px;
}

.order-button {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  border-radius: 4px;
  padding: 16px, 32px, 16px, 32px;
  border-color: #4d5ae5;
  color: #fff;
  font-weight: 500;
  width: 169px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.order-button:hover {
  background-color: var(--hover-color);
}
h3,
h2 {
  font-weight: 700;
  color: var(--body-text-color);
  display: flex;
}
.feature-section {
  display: flex;
  justify-content: center;
}
.features {
  list-style-type: none;
  display: flex;
}
.features > li {
  width: 264px;
  padding-left: 24px;
}
.offer-images {
  display: flex;
  justify-content: center;
  padding: 36px;
  gap: 20px;
}
.title {
  display: flex;
  justify-content: center;
}
.team-section {
  background-color: var(--secondary-bkg-color);
}
.team-members {
  display: flex;
  justify-content: center;
  list-style-type: none;
}
.team-information {
  background-color: var(--secondary-bkg-color);
  position: relative;
}
body {
  margin: 0;
  font-family: var(--text-font-family);
  color: var(--body-text-color);
}

.container {
  max-width: 1200px;
  margin: 0 auto; /* pentru a centra containerul pe orizontală */
  padding: 0 20px;
}
.footer-section {
  background-color: #2e2f42;
  color: var(--secondary-bkg-color);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  min-width: 1200px;
  padding: 40px 100px;
  white-space: nowrap;
}
.container > .header-container {
  display: flex;
  justify-content: center;
}
.filter-section {
  display: flex;
  justify-content: center;
}
.filter-section > .filter-buttons {
  display: flex;
  list-style-type: none;
  gap: 24px;
}
.filter-buttons > .button {
  background-color: #404bbf;
}
